:root {
  --wallpaper: url(assets/background-image.jpg);
  --bg: 22, 22, 22; /* Dark gray */
  --fg: 211, 211, 211; /* Light gray */
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#filter {
  display: flex;
  background: rgba(var(--bg), 0, 3);
  min-height: 100%;
}

#box {
  position: relative;
  margin: auto;
  min-width: 20%;
  min-height: 30%;
  padding: 2% 2%;
  background-color: rgba(var(--bg), 0.7);
  color: lightgray;
  border-radius: 8px;
  font-size: larger;
  box-shadow: -4px 8px 10px rgba(11, 11, 11, 0.5);
}

#avatar {
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: 100px;
}

a img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

a img:hover {
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
}

a span {
  visibility: hidden;

  position: absolute;
  margin-left: 0;
  padding: 12px;
  border-radius: 10px;
  background-color: black;
  color: rgb(var(--fg));
}

a:hover span {
  visibility: visible;
}

body,
#box::before {
  background: var(--wallpaper) 0 / cover fixed;
  background-position-x: top;
  background-position-y: right;
}

#box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

h3 {
  text-decoration: underline;
}
