@keyframes fadeInProjects {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#projects {
  font:
    1em "Roboto",
    sans-serif;
  position: relative;
  height: 100%;
}

.subcategory {
  h1,
  h2 {
    text-align: center;
    display: block;
  }
  color: white;
}

.projects-collection {
  padding-left: 5%;
  padding-right: 5%;
  animation: fadeInMenu;
  animation-duration: 2s;
  gap: 1em;
}

.project-category {
  gap: 1em;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  padding: 0 5%;
}

.projects-container {
  overflow-y: auto;
}

.project-box {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

a#back {
  width: 26px;
  height: 20px;
  animation: fadeInProjects;
  animation-duration: 1s;
  position: absolute;
  justify-content: center;
  align-items: start;
  padding: 0.5em;
}

@media screen and (max-width: 900px) {
  .project-box-header {
    height: auto;
  }
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 5%;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

@media screen and (max-width: 1150px), (max-height: 870px) {
  body {
    overflow: visible !important;
  }
}

.project-box-header {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  justify-content: center;
  align-items: center;
  height: 20%;
  position: relative;
  background-color: #4450d1;
}

.project-box-title {
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

.project-box-spacer {
  margin-left: 1.5em;
}

.project-box-linker {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  fill: rgb(255, 255, 255);
  transition: 0.2s fill;
}

.project-box-linker > h3 {
  fill: darkslategray;
  transition: 0.2s fill;
}

.project-box-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  justify-content: center;
  align-items: center;
  height: 30%;
  position: relative;
  color: whitesmoke;
  background-color: #5865f2;
}
.project-box-body a {
  color: whitesmoke;
  text-decoration: underline;
  &:hover {
    color: lightgray;
  }
}

.project-box {
  background-color: rgb(var(--bg, #111213));
}
