<section class="page" id="projects">
  <div class="subcategory">
    <a class="menu" id="back" href="#" onclick="return navigate('selection');">
      <img src="/assets/images/arrow.png" width="26" height="20" />
    </a>
    <h1>Projects</h1>
  </div>
  <div class="projects-container">
    <div class="project-category">
      <div class="subcategory">
        <h2>Open Source Projects</h2>
      </div>
      <div class="project-list">
        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>Pwnagotchi-rs</h3>
              <p id="mod"><i>Rust</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/Pwnagotchi-rs"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>A work in Progress Rust Rewrite of Pwnagotchi by evilsocket</p>
          </div>
        </section>

        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>Mempatch</h3>
              <p id="mod"><i>C++/Typescript</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/Mempatch"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>An NPM Library for Process Memory Patching</p>
          </div>
        </section>

        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>MegaAntiCheat-UI</h3>
              <p id="mod"><i>Typescript/React</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/MegaAntiCheat/MegaAntiCheat-UI"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>
              The UI of MegaAntiCheat, an unofficial Bot Detection System for
              Team Fortress 2
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="project-category">
      <div class="subcategory">
        <h2>Discord Plugins</h2>
      </div>

      <div class="project-list">
        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>AFK on Exit</h3>
              <p id="mod"><i>Powercord Plugin</i> / <i>Astra Plugin</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/AFK-on-exit"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>
              Automatically changes your Status to AFK when you minimize
              Discord.
            </p>
          </div>
        </section>

        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>Invisible Chat</h3>
              <p id="mod"><i>Powercord Plugin</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/invisible-chat"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>Allows you to send secret encrypted Messages.</p>
          </div>
        </section>

        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>Alternative Blocking</h3>
              <p id="mod"><i>Powercord Plugin</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/Alternative-Blocking"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>Block peoples Messages without Blocking them.</p>
          </div>
        </section>

        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>@Someone</h3>
              <p id="mod"><i>Powercord Plugin</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/At-Someone"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>@ a random Person.</p>
          </div>
        </section>

        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>Do Not Slowmode Me</h3>
              <p id="mod"><i>Powercord Plugin</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/Do-Not-Slowmode-Me"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>
              Display a warning if your try to send a Message with a Slowmode
              above your Set threshold.
            </p>
          </div>
        </section>

        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>SimpleDiscordCryptLoader</h3>
              <p id="mod"><i>Powercord Plugin</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/PC-SimpleDiscordCryptLoader"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>Loads SimpleDiscordCrypt as a Plugin.</p>
          </div>
        </section>

        <section class="project-box">
          <div class="project-box-header">
            <div class="project-box-title">
              <h3>Eth-Miner (Archived)</h3>
              <p id="mod"><i>Powercord Plugin</i></p>
            </div>
            <div class="project-box-spacer"></div>
            <a
              class="project-box-linker"
              href="https://github.com/SammCheese/eth-miner"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="26pt" height="26pt" viewBox="0 0 26 26">
                <path
                  d="M 20.582031 19.792969 L 5.417969 19.792969 L 5.417969 5.207031 L 13 5.207031 L 13 3.125 L 5.417969 3.125 C 4.214844 3.125 3.25 4.0625 3.25 5.207031 L 3.25 19.792969 C 3.25 20.9375 4.214844 21.875 5.417969 21.875 L 20.582031 21.875 C 21.773438 21.875 22.75 20.9375 22.75 19.792969 L 22.75 12.5 L 20.582031 12.5 Z M 15.167969 3.125 L 15.167969 5.207031 L 19.058594 5.207031 L 8.40625 15.449219 L 9.933594 16.917969 L 20.582031 6.675781 L 20.582031 10.417969 L 22.75 10.417969 L 22.75 3.125 Z M 15.167969 3.125 "
                />
              </svg>
            </a>
          </div>
          <div class="project-box-body">
            <p>Mine and Monitor inside Discord</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
