<section class="page" id="menu">
  <div>
    <ul id="menu-items">
      <li id="menu-item-socials" class="menu-item">
        <a href="#socials" onclick="return navigate('socials');">About Me</a>
      </li>
      <li id="menu-item-projects" class="menu-item">
        <a href="#projects" onclick="return navigate('projects');">Projects</a>
      </li>
      <li id="menu-item-contributions" class="menu-item">
        <a href="#contributions" onclick="return navigate('contributions');"
          >Contributions</a
        >
      </li>
    </ul>
  </div>
</section>
