<section class="page" id="socials">
  <div class="subcategory">
    <a class="menu" id="back" href="#" onclick="return navigate('selection');">
      <img src="/assets/images/arrow.png" width="26" height="20" />
    </a>
    <h1>About Me</h1>
  </div>
  <section class="main">
    <div>
      <img src="https://github.com/SammCheese.png?size=256" id="main-image" />
      <p id="name">Sammy</p>
      <p id="funny">Employee of the Month</p>
    </div>
    <div class="content">
      <p>Hiya! Im Sammy!</p>
      <p>I code sometimes and in some cases it even works</p>
    </div>
  </section>
  <section class="social-box">
    <section class="social-item" id="github">
      <a
        href="https://github.com/SammCheese"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img src="/assets/images/github.svg" width="75" height="75" />
        <span>Github</span>
      </a>
    </section>
    <section class="social-item" id="discord">
      <a
        href="https://discord.com/users/372148345894076416"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img src="/assets/images/discord.svg" width="60" height="60" />
        <span>Discord</span>
      </a>
    </section>
    <section class="social-item" id="Email">
      <a
        href="mailto:SammCheese%20&lt;sammy@sammcheese.net&gt;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img src="/assets/images/email.svg" width="60" height="60" />
        <span>Email</span>
      </a>
    </section>
  </section>
</section>
